@font-face {
    font-family: bold;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
}
*{
    padding: 0px;
    margin: 0px;
}
#design{
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    
}
.credit{
    font: normal 3vw serif;
    text-align: center;
    font:  normal 20pt bold;
}
h1{
    font: normal 40pt bold;
}
.inst{
    display: flex;
    width: 40%;
    margin-left: 50%;
    font: bolder 4vw bold;
    color: #5e5d62;
    margin-top: -11%;
}
.ozonio{
    display: flex;
    font: bolder 2.5vw bold;
    color: #5e5d62;
    margin-left: 77.7%;
    margin-top: -6%;
}
.redes{
    font: bolder 3.4vw bold;
    color: #5e5d62;
    margin-left: 57%;
}

#ig{
    margin-top: 4.58% ;
}#wpp{
    margin-top: -32%;
}
